<div class="rect">
    <div class="timeline-wrapper">
        <div class="px-4">
            <div class="timeline">
                <div class="timeline-item second" style="left: 0;"></div>
                <div class="timeline-item second" style="left: calc(50% - 3px);"></div>
                <div class="timeline-item second" style="left: calc(100% - 3px);"></div>
                <div class="time-marker">1'</div>
                <div class="time-marker" style="left: calc(50% - 8px);">45'</div>
                <div class="time-marker" style="left: calc(100% - 8px);">90'</div>
                <div class="timeline-item first" style="left: 18%">
                    <div class="live-ball-white"></div>
                </div>
                <div class="timeline-item first" style="left: 22%">
                    <div class="live-ball-white"></div>
                </div>
                <div class="timeline-item second" style="left: 70%">
                    <div class="live-penalty-white"></div>
                </div>
                <div class="timeline-item first" style="left: 30%">
                    <div class="live-yellow-card"></div>
                </div>
                <div class="timeline-item first" style="left: 90%">
                    <div class="live-red-card"></div>
                </div>
                <div class="timeline-item second" style="left: 73%">
                    <div class="live-change-white"></div>
                </div>
            </div>
        </div>
<!--        <div class="period pr-4">-->
<!--            <div class="timeline">-->
<!--                <div class="timeline-item second" style="left: calc(100% - 3px);"></div>-->
<!--                <div class="end-time">90'</div>-->
<!--                <div class="timeline-item first" style="left: 30%">-->
<!--                    <div class="live-yellow-card"></div>-->
<!--                </div>-->
<!--                <div class="timeline-item first" style="left: 90%">-->
<!--                    <div class="live-red-card"></div>-->
<!--                </div>-->
<!--                <div class="timeline-item second" style="left: 70%">-->
<!--                    <div class="live-change-white"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
